@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/theme.css";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input[type='range']::-webkit-slider-runnable-track {
  background: #e34091;
  height: 6px;
  border-radius: 4px;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #ff4da6; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; 
}